{% extends "base.html" %}
{% block content %}
<h1>Welcome to the ONO digital security Game!</h1>
<video width="600" height="300" controls autobuffer>
    <source src="/static/files/intro.mp4" type="video/mp4" />
    <source src="/static/files/intro.ogv" type="video/ogg" />
    <div class="fallback">
       <p>download the <a href="http://game.onorobot.org/static/files/intro.mp4">intro movie</a> and view it locally</p>
   </div>
</video>

<div class='center'>
	<a href='/play' class='submit large'>Play</a>
	<a href='/teach' class='submit large'>Teach</a>
</div>
{% endblock %}

{% block box %}
{% endblock %}
